.main {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.word {
  background: linear-gradient(
      89.97deg,
      #5531D0 9.86%,
      #979bf5 69.45%,
      #bca7e8 99.95%
    ),
    linear-gradient(0deg, #5531D0, #59dbf0);
  font-weight: 700;
  font-size: 70px;
  line-height: 68px;
  text-transform: uppercase;
  margin-bottom: 15px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subscribe-div {
  position: sticky;
  /*top: 10%;*/
  left: 0;
  width: fit-content;
  height: 100vh;
  display: flex;
  /*margin-top: 20px;*/
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 200px;
  /*padding: 2px;*/
}
.subscribe {
  transform: rotate(90deg);
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 45px;
  color: #303030;
}

.line {
  width: 1px;
  height: 16px;
  background: #303030;
  margin: 11px 0;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sub-word {
  font-size: 40px;
  /*line-height: 30px;*/
  font-weight: 700;
  color: #303030;
  margin-bottom: 24px;
  line-height: 3rem;
}

.sub-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #303030;
  margin-bottom: 13px;
}
.button_consultation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #303030;
  text-decoration: none;
  border-radius: 100px;
  padding: 20px 40px;
  background: -o-linear-gradient(left, #00ff6f 1.04%, #1bffff 100%);
  background: linear-gradient(90deg, #00ff6f 1.04%, #1bffff 100%);
  margin-bottom: 80px;
  width: 100%;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}
.active {
  display: block !important;
}
.disabled {
  display: none !important;
}

@media (max-width: 650px) {
  .word {
    font-size: 50px;
  }
  .sub-word {
    font-size: 30px;
    line-height: 2rem;
  }
  .sub-text {
    font-size: 14px;
  }
}
